            <hr>
            <footer>
              <p>&copy; Bitoola 2013</p>
            </footer>        
        </div> <!-- /container -->
        {{if eq .RunMode "dev"}}
            {{template "debug.html" .}}
        {{end}}
        <script src="/public/js/jquery-2.0.3.min.js"></script>
        <script src="/public/js/bootstrap-3.0.0.min.js"></script>
        <script src="/public/js/angular-1.2.0-rc.3.min.js"></script>
        {{range .moreScripts}}
            <script src="/public/js/{{.}}" type="text/javascript" charset="utf-8"></script>
        {{end}}
    </body>
</html>
