body {
	padding-top: 60px;
	padding-bottom: 50px;
	min-height: 800px;
}

fieldset.form {
	width: 390px;
	padding: 60px 20px 20px 20px;
	position: relative;
	background-color: #eeeeee;
	border-radius: 8px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

fieldset.form legend {
	width: 100%;
	margin-left: -20px;
	position: absolute;
	top: 8px;
}

fieldset.form legend span {
	margin-left: 25px;	
	font-size: 25px;
	font-weight: bold;
}

fieldset.form .col-sm-10 {
	width: 98%;
}

fieldset.form .control-label {
	padding-left: 0px;
	padding-right: 0px;
}

fieldset.form select.form-control {
	padding: 2px;
}


.form input.ng-dirty.ng-invalid {
	border: 1px solid #ff0000;
}

.form .form-group {
	margin-bottom: 8px !important;
}

.form-btn-offset {
	margin-left: 280px;
}

.navbar-brand {
	font-size: 40px;
	font-weight: bold;
}

.navbar-form {
	padding-right: 0px; 
	padding-left: 0px;
}

.navbar-text.sign-up, 
.navbar-text.sign-out {
	margin-right: 20px !important;
	margin-left: 4px;
}

.navbar-text.sign-out span {
	margin-right: 10px;
	font-weight: bold;
	font-style: italic;
}

.navbar-text.sign-up a,
.navbar-text.sign-out a {
	text-decoration: underline;
}

.navbar-fixed-bottom {
	padding: 10px;
	padding-top: 15px; 
}

.container .jumbotron {
	padding: 5px 15px;
	margin-bottom: 0px;
}

.jumbotron p {
	font-size: 18px;
}

.page-header {
	margin: 0px;
} 

.page-header h1 {
	font-size: 30px;
	margin: 10px 0px;
}

.form-foot-note {
	display: block;
	margin-top: 10px;
	padding: 10px;
	border-top: 1px solid #e5e5e5;
	clear: both;
}

#captchaContainer {
	margin-left: 32px;
	display: block;
	margin-bottom: 15px;
}

.recaptchatable * {
    border: 0 !important;
    line-height: normal !important;
}

.popover {
	width: 300px;
}

.popover-container {
	display: none;
}

.popover-title {
	font-weight: bold;
}

