<pre data-page-title>New Password</pre>

<fieldset class="form ng-cloak">
	<legend><span>New Password</span></legend>
	<form class="form-horizontal" novalidate="true" role="form" name="passwordResetForm">
	  <div class="form-group">
	    <label for="inputPassword" class="col-sm-3 control-label">Password</label>
	    <div class="col-sm-9">
	      <input type="password" required="true"  ng-minlength="5" ng-maxlength="20"class="form-control" id="password" name="password" data-ng-model="form.user.password" placeholder="Please enter your password" data-popover="popoverPassword" />
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPasswordConfirm" class="col-sm-3 control-label">Confirm</label>
	    <div class="col-sm-9">
	      <input type="password" required="true"  ng-minlength="5" ng-maxlength="20"class="form-control" id="passwordConfirm" name="passwordConfirm" data-ng-model="form.user.passwordConfirm" placeholder="Please confirm your password" data-popover="popoverPasswordConfirm" />
	    </div>
	  </div>
	  <div captcha="true" />
	  <div class="form-group">
	    <div class="col-sm-10">
	      <input type="submit" value="Submit" class="form-btn-offset btn btn-info" ng-disabled="passwordResetForm.$invalid" />
	    </div>
	  </div>
	</form>
</fieldset>	

<div class="popover-container" id='popoverPassword' >
	<p class="title">
		Please enter your password
	</p>
	<div class="content">
		<p>Your password is required and must:</p>
		<ul>
			<li>Be at least 6 characters long</li>
			<li>Contain numbers and letters</li>
		</ul>
	</div>
</div>

<div class="popover-container" id='popoverPasswordConfirm' >
	<p class="title">
		Please confirm your password
	</p>
	<div class="content">
		<p>Your password is required and must:</p>
		<ul>
			<li>Be at least 6 characters long</li>
			<li>Contain numbers and letters</li>
		</ul>
	</div>
</div>

