<pre data-page-title>Sign In</pre>

<fieldset class="form ng-cloak">
	<legend><span>Sign In</span></legend>
	<form class="form-horizontal" novalidate="true" role="form" name="signInForm">
	  <div class="form-group">
	    <label for="inputPassword" class="col-sm-3 control-label">Password</label>
	    <div class="col-sm-9">
	      <input type="password" required="true"  ng-minlength="5" ng-maxlength="20"class="form-control" id="password" name="password" data-ng-model="form.user.password" placeholder="Please enter your password" />
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword" class="col-sm-3 control-label">Password</label>
	    <div class="col-sm-9">
	      <input type="password" required="true"  ng-minlength="5" ng-maxlength="20"class="form-control" id="password" name="password" data-ng-model="form.user.password" placeholder="Please enter your password" />
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-10">
	    	<input type="submit" value="Sign in" class="form-btn-offset btn btn-info" ng-disabled="signInForm.$invalid" />
	    </div>
	  </div>
	</form>
</fieldset>
