<pre data-page-title>Sign Up</pre>

<fieldset class="form ng-cloak">
	<legend><span>Sign up</span></legend>
	<form class="form-horizontal" novalidate="true" role="form" name="signUpForm">
	  <div class="form-group">
	    <label for="firstname" class="col-sm-3 control-label">Firstname</label>
	    <div class="col-sm-9">
	      <input type="text" autofocus="true" required="true" ng-minlength="2" ng-maxlength="20" class="form-control" id="firstname" name="firstname" data-ng-model="form.user.firstname" placeholder="Please enter your email firstname" data-popover="popoverFirstname" />
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="lastname" class="col-sm-3 control-label">Lastname</label>
	    <div class="col-sm-9">
	      <input type="text" required="true" ng-minlength="2" ng-maxlength="20" class="form-control" id="lastname" name="lastname" data-ng-model="form.user.lastname" placeholder="Please enter your lastname"  data-popover="popoverLastname" />
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="username" class="col-sm-3 control-label">Username</label>
	    <div class="col-sm-9">
	      <input type="text" required="true" ng-minlength="4" ng-maxlength="8" class="form-control" id="username" name="username" data-ng-model="form.user.username" placeholder="Please enter your username" />
	    </div>
	  </div>
	  <div class="form-group">
	  	<label for="username" class="col-sm-3 control-label">Gender</label>
	    <div class="col-sm-9">
		  	<label class="radio-inline">
				<input type="radio" id="genderFemale" name="gender" value="F" data-ng-model="form.user.gender">Female
			</label>
			<label class="radio-inline">
			  <input type="radio" id="genderMale" name="gender" value="M" data-ng-model="form.user.gender">Male
			</label>
		 </div>
	  </div>
	  <div class="form-group">
	  	<label for="dateOfBirth" class="col-sm-3 control-label">Date of birth</label>
	    <div class="col-sm-9">
		  	<label class="inline">
				<select required="true" class="form-control" name="dateOfBirth.day" id="dateOfBirth_day" data-ng-model="form.user.dateOfBirth.day">
                  <option value="">Day</option>
				  <option>1</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				  <option>6</option>
				  <option>7</option>
				  <option>8</option>
				  <option>9</option>
				  <option>10</option>
				  <option>11</option>
				  <option>12</option>
				  <option>13</option>
				  <option>14</option>
				  <option>15</option>
				  <option>16</option>
				  <option>17</option>
				  <option>18</option>
				  <option>19</option>
				  <option>20</option>
				  <option>21</option>
				  <option>22</option>
				  <option>23</option>
				  <option>24</option>
				  <option>25</option>
				  <option>26</option>
				  <option>27</option>
				  <option>28</option>
				  <option>29</option>
				  <option>30</option>
				  <option>31</option>
				</select>
			</label>
			<label class="inline">
				<select required="true" class="form-control" name="dateOfBirth.month" id="dateOfBirth_month" data-ng-model="form.user.dateOfBirth.month">
				  <option value="">Month</option>
				  <option value="1">January</option>
				  <option value="2">February</option>
				  <option value="3">March</option>
				  <option value="4">April</option>
				  <option value="5">May</option>
				  <option value="6">June</option>
				  <option value="7">July</option>
				  <option value="8">August</option>
				  <option value="9">September</option>
				  <option value="10">October</option>
				  <option value="11">November</option>
				  <option value="12">December</option>
				  option
				</select>
			</label>
			<label class="inline">
				<select required="true" class="form-control" name="dateOfBirth.year" id="dateOfBirth_year" data-ng-model="form.user.dateOfBirth.year">
				  <option value="">Year</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				</select>
			</label>
		 </div>
	  </div>
	  <div class="form-group">
	    <label for="email" class="col-sm-3 control-label">Email</label>
	    <div class="col-sm-9">
	      <input type="email" required="true" class="form-control" id="email" name="email" data-ng-model="form.user.email" placeholder="Please enter your email address" />
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="emailConfirm" class="col-sm-3 control-label">Confirm</label>
	    <div class="col-sm-9">
	      <input type="email" required="true" class="form-control" id="emailConfirm" name="emailConfirm" data-ng-model="form.user.emailConfirm" placeholder="Please confirm your email address" />
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword" class="col-sm-3 control-label">Password</label>
	    <div class="col-sm-9">
	      <input type="password" required="true"  ng-minlength="5" ng-maxlength="20"class="form-control" id="inputPassword" name="inputPassword" data-ng-model="form.user.password" placeholder="Please enter your password" />
	    </div>
	  </div>
	  <div captcha="true" />
	  <div class="form-group">
	    <div class="col-sm-9">
	      <button class="form-btn-offset btn btn-info" ng-disabled="signUpForm.$invalid">Sign up</button>
	    </div>
	  </div>
	  <div class="form-foot-note">
		<p>Already have an account? Please <a href="#!/sign-in">Sign In</a></p>
	  </div>
	</form>
</fieldset>

<div class="popover-container" id='popoverFirstname' >
	<p class="title">
		Please enter your firstname
	</p>
	<div class="content">
		<p>Your firstname is required and must:</p>
		<ul>
			<li>Be between 2 and 20 characters long</li>
			<li>Contain only alpha-numeric characters</li>
		</ul>
	</div>
</div>

<div class="popover-container" id='popoverLastname' >
	<p class="title">
		Please enter your lastname
	</p>
	<div class="content">
		<p>Your lastname is required and must:</p>
		<ul>
			<li>Be between 2 and 20 characters long</li>
			<li>Contain only alpha-numeric characters</li>
		</ul>
	</div>
</div>