<pre data-page-title>Sign Up</pre>

<fieldset class="form ng-cloak">
	<legend><span>Sign up</span></legend>
	<form class="form-horizontal" novalidate="true" role="form" name="signUpForm" ng-submit="signUp()">
	  <div class="form-group">
	    <label for="firstname" class="col-sm-3 control-label">Firstname</label>
	    <div class="col-sm-9">
	      <input type="text" autofocus="true" required="true" ng-minlength="2" ng-maxlength="20" class="form-control" id="firstname" name="firstname" data-ng-model="form.user.Firstname" placeholder="Please enter your firstname" data-popover="popoverFirstname" />
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="lastname" class="col-sm-3 control-label">Lastname</label>
	    <div class="col-sm-9">
	      <input type="text" required="true" ng-minlength="2" ng-maxlength="20" class="form-control" id="lastname" name="lastname" data-ng-model="form.user.Lastname" placeholder="Please enter your lastname"  data-popover="popoverLastname" />
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="alias" class="col-sm-3 control-label">Username</label>
	    <div class="col-sm-9">
	      <input type="text" required="true" ng-minlength="3" ng-maxlength="10" class="form-control" id="alias" name="alias" data-ng-model="form.user.Alias" placeholder="Please enter your username" data-popover="popoverAlias" />
	    </div>
	  </div>
	  <div class="form-group">
	  	<label for="username" class="col-sm-3 control-label">Gender</label>
	    <div class="col-sm-9">
		  	<label class="radio-inline">
				<input type="radio" id="genderFemale" name="gender" value="F" data-ng-model="form.user.Gender">Female
			</label>
			<label class="radio-inline">
			  <input type="radio" id="genderMale" name="gender" value="M" data-ng-model="form.user.Gender">Male
			</label>
		 </div>
	  </div>
	  <div class="form-group">
	  	<label for="dateOfBirth" class="col-sm-3 control-label">Date of birth</label>
	    <div class="col-sm-9">
		  	<label class="inline">
				<select required="true" class="form-control" name="dateOfBirth_day" id="dateOfBirth_day" data-ng-model="form.user.DateOfBirth.Day" data-ng-options="i for i in range(1, 31, 1)">
                  <option value="">Day</option>
				</select>
			</label>
			<label class="inline">
				<select required="true" class="form-control" name="dateOfBirth_month" id="dateOfBirth_month" data-ng-model="form.user.DateOfBirth.Month" data-ng-options="month.Key as month.Name for month in months">
				  <option value="">Month</option>
				</select>
			</label>
			<label class="inline">
				<select required="true" class="form-control" name="dateOfBirth_year" id="dateOfBirth_year" data-ng-model="form.user.DateOfBirth.Year" data-ng-options="i for i in range(1900, 1995, 1)">
				  <option value="">Year</option>
				</select>
			</label>
		 </div>
	  </div>
	  <div class="form-group">
	    <label for="email" class="col-sm-3 control-label">Email</label>
	    <div class="col-sm-9">
	      <input type="email" required="true" class="form-control" id="email" name="email" data-ng-model="form.user.Email" placeholder="Please enter your email address" />
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="emailConfirm" class="col-sm-3 control-label">Confirm email</label>
	    <div class="col-sm-9">
	      <input type="email" required="true" class="form-control" id="emailConfirm" name="emailConfirm" data-ng-model="form.user.EmailConfirm" placeholder="Please confirm your email address" />
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword" class="col-sm-3 control-label">Password</label>
	    <div class="col-sm-9">
	      <input type="password" required="true"  ng-minlength="5" ng-maxlength="20"class="form-control" id="password" name="password" data-ng-model="form.user.Password" placeholder="Please enter your password" data-popover="popoverPassword" />
	    </div>
	  </div>

	  <div class="form-group">
        <p class="alert alert-danger form-submit-error" ng-show="signUpForm.$dirty && signUpForm.$invalid">
      	  Please fill in all the required fields
        </p>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-9">
	      <input type="submit" value="Sign up" class="form-btn-offset btn btn-info" ng-disabled="signUpForm.$invalid" />
	    </div>
	  </div>
	  <div class="form-foot-note">
		<p>Already have an account? Please <a href="#!/sign-in">Sign In</a></p>
	  </div>
	</form>
</fieldset>

<div class="popover-container" id='popoverFirstname' >
	<p class="title">
		Please enter your firstname
	</p>
	<div class="content">
		<p>Your firstname is required and must:</p>
		<ul>
			<li>Be between 2 and 20 characters long</li>
			<li>Contain only alpha-numeric characters</li>
		</ul>
	</div>
</div>

<div class="popover-container" id='popoverLastname' >
	<p class="title">
		Please enter your lastname
	</p>
	<div class="content">
		<p>Your lastname is required and must:</p>
		<ul>
			<li>Be between 2 and 20 characters long</li>
			<li>Contain only alpha-numeric characters</li>
		</ul>
	</div>
</div>

<div class="popover-container" id='popoverAlias' >
	<p class="title">
		Please enter your username
	</p>
	<div class="content">
		<p>Your username is required and must:</p>
		<ul>
			<li>Be between 4 and 8 characters long</li>
			<li>Contain only alpha-numeric characters</li>
		</ul>
	</div>
</div>

<div class="popover-container" id='popoverPassword' >
	<p class="title">
		Please enter your password
	</p>
	<div class="content">
		<p>Your password is required and must:</p>
		<ul>
			<li>Be at least 6 characters long</li>
			<li>Contain numbers and letters</li>
		</ul>
	</div>
</div>
